
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&family=Montserrat:wght@200&family=Roboto+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body {
        color: #404040;
        font: 800 15px/22px 'Montserrat', sans-serif;
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
      }

      * {
        box-sizing: border-box;
      }

      .sidebar {
        position: absolute;
        width: 33.33%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        border-right: 1px solid rgb(0 0 0 / 25%);
      }

      
      .map {
        position: absolute;
        left: 33.3333%;
        width: 66.6666%;
        top: 0;
        bottom: 0;
      }

      h1 {
        font: 600 14px/22px 'Silkscreen', sans-serif;
        font-family: 'Silkscreen', sans-serif;
        font-size: 23px;
        margin: 0;
        font-weight: 800;
        line-height: 20px;
        padding: 20px 2px;
      }

      a {
        color: #404040;
        text-decoration: none;
      }

      a:hover {
        color: #101010;
      }

      .heading {
        text-shadow: inherit;
        text-align:center;
        background: #efede6;
        border: 1px solid #000000;
        min-height: 60px;
        line-height: 60px;
        padding: 0 10px;
        background-color: rgb(71, 118, 160);
        color: #a0eea2;
      }

      .listings {
        height: 100%;
        overflow: auto;
        padding-bottom: 85px;
      }

      .listings .item {
        display: block;
        border-bottom: 1px solid #eee;
        padding: 10px;
        text-decoration: none;
      }

      .listings .item:last-child {
        border-bottom: none;
      }

      .listings .item .title {
        display: block;
        color: #b6890b;
        font: 1000 15px/22px 'Montserrat', sans-serif;
      }

      .listings .item .title small {
        font-weight: 800;
      }

      .listings .item.active .title,
      .listings .item .title:hover {
        color: #494fc9;
      }

      .listings .item.active {
        background-color: #f8f8f8;
      }

      ::-webkit-scrollbar {
        width: 2px;
        height: 3px;
        border-left: 0;
        background: rgb(0 0 0 / 10%);
      }

      ::-webkit-scrollbar-track {
        background: none;
      }

      ::-webkit-scrollbar-thumb {
        background: #00853e;
        border-radius: 0;
      }

      .marker {
        border: none;
        cursor: pointer;
        height: 100px;
        width: 100px;
        background-image: url('plane.png');
      
      }

      /* Marker tweaks */
      .mapboxgl-popup {
        padding-bottom: 50px;
      }

      .mapboxgl-popup-close-button {
        display: none;
      }

      .mapboxgl-popup-content {
        display:block;
        box-shadow: -3px -3px 7px #fffdfdcc,3px 3px 5px rgba(94, 104, 121, 0.342),
        -3px 3px 0px 0px rgba(227, 215, 215, 0.7);
        text-align:center;
        font:
          400 15px/22px 'Montserrat', sans-serif;
        padding: 0;
        width: 215px;
      }
      
      .mapboxgl-popup-content h3 {
        display: block;
        background: rgb(71, 118, 160);
        color: #a0eea2;
        
        text-align:center;
        margin: 0;
        padding: 10px;
        border-radius: 3px 3px 0 0;
        margin-top: -15px;
      }

      .mapboxgl-popup-content h4 {
        margin: 0;
        padding: 10px;
        font-weight: 400;
      }

      .mapboxgl-popup-content div {
        padding: 10px;
      }

      .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
        margin-top: 15px;
      }

      .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
        border-bottom-color: #91c949;
      }

      .container {
        position: fixed;
      }
    
      .text {
        position: top;
        z-index: 5;
      }
    